<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Above and Below</title>
</head>

<body>
    <h1>Above and Below Results</h1>
    <p>Above: {{above}}<br />Below: {{below}}</p>
    <p>Input: {{input}}<br />Comparison: {{comparison}}</p>

</body>

</html>