<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Home Backend Exercise</title>
</head>

<body>
    <h1>Note</h1>
    <p>As this is a backend exercise, and I need to work on my full-time job, I have spent zero time making this ui pretty. :)</p>
    <h1>Above and Below</h1>
    <form action="above-below" method="POST">
        <label for="input">Input (comma-separated list of numbers)</label><input type="text" name="input"
            id="input" /><br />
        <label for="comparison">Number to compare</label><input type="text" name="comparison" id="comparison" />
        <button type="submit">Go</button>
    </form><br /><br /><br />
    <h1>String Rotator</h1>
    <form action="rotate" method="POST">
        <label for="input">String to rotate</label><input type="text" name="string" id="string" /><br />
        <label for="overflow">Number of letters to overflow</label><input type="text" name="overflow" id="overflow" />
        <button type="submit">Go</button>
    </form>
    <h1>One Change</h1>
    <p>If I could change one thing about Node, it would be to natively add typescript support. However, this is easy to do (non-natively) using tsc, so it's a moot point. In short, I love Node!</p>
</body>

</html>